.New-Schedule-popUp {
  /* background: #FCFCFF; */
  background: linear-gradient(
      0deg,
      rgba(193, 193, 193, 0.11),
      rgba(193, 193, 193, 0.11)
    ),
    #fcfcff;
  /* margin-top: 1rem; */
}

.date_selector {
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font-size: 15px !important;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%);
    line-height: 1.5em !important;
    font-family: "Inter";
    padding: 0.6rem 2.7rem 0.6rem 1rem;
    border: 1px solid rgba(81, 78, 78, 0.53);
  width:68%;
  /* left: 10rem; */
  /* display: block; */
  /* margin-left: auto; */
  /* position: fixed;
  right: 0; */
  transition: all .5s;
    box-sizing: content-box;
    align-self: flex-end;
}
.CreateBtn {
  margin-left: 30%;
}
